<html>
  <head>
    <title>Creating Blog Page</title>
    <link rel="stylesheet" href="public/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="blog.js"></script>
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="left-side">
        <a href="/">
          <img src="public/assets/logo.png" alt="logo" />
        </a>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog" class="list-active">Blog</a>
          </li>
        </ul>
      </div>
      <div class="right-side">
        <a href="/contact"> Contact Me </a>
      </div>
    </nav>

    <!-- Blog -->
    <!-- Form -->
    <div class="blog">

      {{#if isLogin}}
        <div style="text-align: end; margin-right: 130px; margin-top: 50px">
          <a href="/add-blog" style="background-color: orangered; color: white; padding: 10px 20px; border-radius: 5px; text-decoration: none">Add New Blog</a>
        </div>
      {{/if}}


      <div id="contents" class="blog-list">
        <!-- dynamic content would be here -->
        {{#each blogs}}
          <div class="blog-list-item">
            <div class="blog-image">
              <img src="public/assets/blog-img.png" alt="" />
            </div>
            <div class="blog-content">
              {{#if isLogin}}
                <div class="btn-group">
                  <button class="btn-edit">Edit Post</button>
                  <a href="/delete-blog/{{this.id}}" class="btn-post">Delete Blog</a>
                </div>
              {{/if}}
              <h1>
                <a href="blog-detail/{{this.id}}" target="_blank"
                  >{{this.title}}</a>
              </h1>
              <div class="detail-blog-content">
                {{this.post_at}} | {{this.author}}
              </div>
                <div>
              {{#each social_media}}
                  {{!-- <i class="{{this}}"></i> --}}
                    <i class="fa-brands fa-{{this}}"></i>
              {{/each}}
                </div>
              <p>
                {{this.content}}
              </p>
              <div style="text-align: right;">
                <span style="font-size: 12px; color: grey">
                  {{this.duration}}
                </span>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <!-- <script src="blog.js"></script> -->
  </body>
</html>
